.card {
  height: 480px;
  width: 300px;
  text-align: center;
  margin-left: 25px;
}

.botonAgregar {
  width: 200px;
  margin-top: 10px;
}

.stock {
  padding-top: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

@media only screen and (max-width: 768px) {
  .card {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 479px) {
  .card {
    margin-left: 20px;
    margin-top: 30px;
  }
}
